@import '@/styles/variables.scss';

@mixin defaultButton {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  border: none;
  padding: $S-spacing;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $extrabold;
}

.button {
  @include defaultButton;
}

.primary {
  margin-top: $MD-spacing;
  background: $primary001;
  color: $white;
}

.secondary {
  @include defaultButton;
  background: $white;
  color: $primary001;
  border: 1px solid $primary001;
}
