@import '@/styles/variables.scss';

$hamburger-size: 10px;

.container {
  background-color: $primary001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $z-index002;
}

.navigation {
  height: $nav-height;
  padding: 0 $MD-spacing;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary001;
  color: $white;
  max-width: $page-max-width;
  margin: auto;

  @media screen and (min-width: $breakpoint-large) {
    padding: 0 $LG-spacing;
  }
}

.hamburgerButton {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  min-width: 60px;
  height: $XL-spacing;
  background-color: transparent;
  border: none;
  z-index: $z-index001;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.hamburger {
  display: inline-block;
  height: calc($XXS-spacing * 0.6);
  width: 90%;
  background-color: $white;
  transform: translateY(-50%);
  transition: background-color $transition-secondary;
  border-radius: $XS-spacing;
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    height: calc($XXS-spacing * 0.6);
    width: 100%;
    border-radius: 1em;
    background-color: $white;
    transition: transform $transition-secondary;
  }
  &::before {
    top: $hamburger-size;
  }
  &::after {
    top: -$hamburger-size;
  }
  &.active {
    background-color: transparent;

    &::before {
      transform: translateY(-$hamburger-size) rotate(-45deg);
    }
    &::after {
      transform: translateY($hamburger-size) rotate(45deg);
    }
  }
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 1em;
  background: $primary001;
  width: 100%;
  height: 100vh;
  transition: opacity $transition-secondary, transform 0.01s ease 0.4s;
  transform: scale(0);

  & p {
    padding: 0 2em;
    color: $white;
  }
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &.active {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    transform: scale(1);
  }

  @media screen and (min-width: 1024px) {
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    opacity: 1;
    transform: scale(1);
    height: 100%;
    padding-bottom: 0;
    & p {
      padding: 0;
    }
    ul {
      flex-direction: row;
      height: 100%;
    }
  }
}
