@import '@/styles/variables.scss';

$hamburger-size: $S-spacing;

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $nav-height;
  padding: $MD-spacing;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary001;
  color: $white;
}

.hamburgerButton {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  width: $LG-spacing;
  height: $XL-spacing;
  background-color: transparent;
  border: none;
  z-index: $z-index001;
}

.hamburger {
  display: inline-block;
  height: $XXS-spacing;
  width: 100%;
  background-color: $white;
  transform: translateY(-50%);
  transition: background-color $transition-secondary;
  border-radius: 1em;
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    height: $XXS-spacing;
    width: 100%;
    border-radius: 1em;
    background-color: $white;
    transition: transform $transition-secondary;
  }
  &::before {
    top: $hamburger-size;
  }
  &::after {
    top: -$hamburger-size;
  }
  &.active {
    background-color: transparent;

    &::before {
      transform: translateY(-$hamburger-size) rotate(-45deg);
    }
    &::after {
      transform: translateY($hamburger-size) rotate(45deg);
    }
  }
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 1em;
  background: $primary001;
  width: 100%;
  height: 100vh;
  transition: opacity 0.1s 0s ease-in-out;
  transform: translateX(-200%);
  & p {
    padding: 0 2em;
    color: $white;
  }
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}
