@import '/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader {
  color: $primary001;
  font-weight: $semibold;
  border-bottom: 1px solid $primary001;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  margin-bottom: $S-spacing;
  font-size: $text-xl;
  margin: 0;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $breakpoint-large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.doorsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $breakpoint-large) {
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $S-spacing;
  }
}

.doorCard {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $primary001;
  border-radius: 5px;
  padding: $S-spacing $MD-spacing;
  box-shadow: 0 6px $primary001;
  margin: $SM-spacing 0;
  background-color: $white;
  @media screen and (min-width: $breakpoint-large) {
    width: auto;
  }

  p {
    color: $primary001;
    text-transform: uppercase;
    font-size: $text-xxl;
    @media screen and (min-width: $breakpoint-large) {
      font-size: $text-md;
    }
  }

  a {
    padding: $S-spacing $MD-spacing;
  }
}

.categoryContainer {
  width: 90%;
  margin-top: $XS-spacing;
  @media screen and (min-width: $breakpoint-large) {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-items: flex-start;
    margin-top: $SM-spacing;
    position: sticky;
    top: 100px;
  }
}
