//colors
$primary001: #941845;
$primary002: #499ff8;
$primary003: #d7eafd;

//other
$black: #282828;
$white: #ffffff;

//font sizes

//font wegights
$regular: 400;
$semibold: 600;
$extrabold: 800;

// spacing
$XS-spacing: 4px;
$S-spacing: 8px;
$M-spacing: 16px;
$L-spacing: 32px;
$XL-spacing: 48px;
$XXL-spacing: 64px;

// navbar
$nav-height: 5em;

//shadows
