//colors
$primary001: #941845;
$primary002: #499ff8;
$primary003: #d7eafd;

//other
$black: #282828;
$white: #ffffff;
$grey: #E4E4E4;

//font sizes
$text-base-size: 1em;
$text-scale-ratio: 1.2;

$text-xs: calc(1em / (($text-scale-ratio) * ($text-scale-ratio)));
$text-sm: calc(1em / ($text-scale-ratio));
$text-md: calc(1em * ($text-scale-ratio));
$text-lg: calc(1em * ($text-scale-ratio) * ($text-scale-ratio));
$text-xl: calc(1em * ($text-scale-ratio) * ($text-scale-ratio) * ($text-scale-ratio));
$text-xxl: calc(1em * ($text-scale-ratio) * ($text-scale-ratio) * ($text-scale-ratio) * ($text-scale-ratio));
$text-xxxl: calc(1em * ($text-scale-ratio) * ($text-scale-ratio) * ($text-scale-ratio) * ($text-scale-ratio) * ($text-scale-ratio));

//font wegights
$regular: 400;
$semibold: 600;
$extrabold: 800;

// spacing
$space-unit: 1em;
$XXS-spacing: calc(0.25 * $space-unit);
$XS-spacing: calc(0.5 * $space-unit);
$S-spacing: calc(0.75 * $space-unit);
$SM-spacing: calc(1.25 * $space-unit);
$MD-spacing: calc(2 * $space-unit);
$LG-spacing: calc(3.25 * $space-unit);
$XL-spacing: calc(5.25 * $space-unit);

// navbar
$nav-height: 5em;

//transitions
$transition-primary: 0.1s 0.1s ease-in-out;
$transition-secondary: 0.2s 0.2s ease-in-out;

//z-index
$z-index001: 10;
$z-index002: 20;
$z-index003: 30;
$z-index004: 40;
